@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/FontAwesome.ttf);
  font-family: FontAwesome;
}

@font-face {
  src: url(../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf);
  font-family: MaterialIcons;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
